<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useCookStore } from "@/stores/orderlist";
import { useOrderStore } from "@/stores/order";

import type OrderList from "@/types/OrderList";
import BottomNav from "@/components/BottomNav.vue";
const CookStore = useCookStore();
const OrderStore = useOrderStore();

const changeStatus = (index: number, order_id: number, status: string) => {
  orderList.value.splice(index, 1);

  console.log(order_id, status);
  OrderStore.changeStatus([order_id], status);
};
const convertStatus = OrderStore.convertStatusToText;

const orderList = ref();
onMounted(async () => {
  orderList.value = await OrderStore.getAll("รอทำ");
  console.log(orderList.value);
});

const deleteOrder = (index: number): void => {
  CookStore.deletecook(index);
};
const cookingOrder = (index: number, cook: OrderList): void => {
  CookStore.cooklist(index);
  cook.status = "กำลังทำ";
};

const _options = OrderStore.convertLevelToText;
</script>

<template>
  <v-container>
    <div class="d-flex" style="gap: 25rem">
      <h1 class="text my-4" style="text-align: center">รายการอาหาร</h1>
    </div>
    <v-row>
      <v-col>
        <v-card max-width="auto" height="590">
          <v-table max-width="auto" height="590">
            <thead class="theadtable1">
              <tr>
                <th class="text-center text-h5">โต๊ะ</th>
                <th class="text-center text-h5">รายการ</th>
                <th class="text-center text-h5">จำนวน</th>
                <th class="text-center text-h5">สถานะ</th>
                <th class="text-center"></th>
              </tr>
            </thead>

            <tbody>
              <tr
                class="ma-10"
                v-for="(item, index) in orderList"
                :key="item.id"
              >
                <td>
                  <v-container>
                    <v-row justify="center">
                      {{ item.orderItem.order.table.name }}
                    </v-row>
                  </v-container>
                </td>

                <td>
                  <v-container>
                    <v-row>
                      {{ item.orderItem.name }}
                    </v-row>
                    <v-row> ระดับ : {{ _options(item.orderItem.level) }}</v-row>
                    <v-row v-if="item.orderItem.note">
                      หมายเหตุ : {{ item.orderItem.note }}</v-row
                    >
                  </v-container>
                </td>

                <td>
                  <v-container>
                    <v-row justify="center">
                      {{ item.orderItem.amount }}
                    </v-row>
                  </v-container>
                </td>

                <td>
                  <v-container>
                    <v-row
                      class="mx-auto rounded-xl"
                      justify="center"
                      style="
                        text-align: center;
                        background-color: #d7ccc8;
                        padding: 8px;
                        border-radius: 29px;
                      "
                    >
                      {{ item.status }}
                    </v-row>
                  </v-container>
                </td>

                <td>
                  <v-btn
                    class="ma-4 Cook"
                    @click="changeStatus(index, item.id, 'กำลังทำอาหาร')"
                    >ตกลง</v-btn
                  >
                  <v-btn
                    class="ma-4 Cancel"
                    @click="changeStatus(index, item.id, 'ยกเลิก')"
                    >ยกเลิก</v-btn
                  >
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <BottomNav></BottomNav>
</template>

<style scoped>
.Cook {
  color: white;
  background-color: #46d199;
}

.text {
  color: gray;
}

.Cancel {
  color: white;
  background-color: #ed6f73;
}

.Finish {
  color: white;
  background-color: #3f8d6e;
}

.text {
  color: FFE98F;
}

.theadtable1 {
  color: white;
  background-color: #967667;
}

.theadtable2 {
  color: white;
  background-color: #665c56;
}
</style>
