<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";

import { useLoginStore } from "@/stores/login";

const theme = ref("light");
</script>

<template color="white">
  <v-app :theme="theme">
    <v-main class="p-3">
      <v-container> <router-view></router-view></v-container>
    </v-main>
  </v-app>
</template>
