<script setup lang="ts">
import { computed, onMounted } from "vue";
import moment from "moment";
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiDelete,
  mdiPencil,
  mdiPlus,
  mdiMagnify,
  mdiCalculator,
} from "@mdi/js";
import { useSalaryStore } from "@/stores/salary";
import { useEmployeeStore } from "@/stores/employee";
import { usecheckinoutStore } from "@/stores/checkinout";
const SalaryStore = useSalaryStore();
const EmployeeStore = useEmployeeStore();
const checkinoutStore = usecheckinoutStore();
const controlDialog = ref(false);
const balance = ref(0);
const hour = ref(0);
const idEmp = ref(0);
const total = ref(0);
onMounted(async () => {
  const res = await checkinoutStore.getCheckinouts();
  await SalaryStore.getSalaryForPay();
});
function pay(empId: number) {
  controlDialog.value = false;
  SalaryStore.updateCheckInOut(
    checkinoutStore.checkinouts,
    idEmp.value,
    total.value
  );
  console.log("pay: " + empId);
}
function check(hourCount: number, idEmpArgs: number, totalArgs: number) {
  hour.value = hourCount;
  idEmp.value = idEmpArgs;
  total.value = totalArgs;
  console.log(idEmpArgs);
}
let keyword = ref("");
const filterData = computed(() => {
  const key = keyword.value ? keyword.value.toLocaleLowerCase() : "";
  return SalaryStore.salaryFoyPay.filter(
    (e) =>
      e.employee_firstname.toLocaleLowerCase().indexOf(key) != -1 ||
      e.employee_lastname.toLocaleLowerCase().indexOf(key) != -1 ||
      e.employee_position.toLocaleLowerCase().indexOf(key) != -1
  );
});
</script>

<template>
  <div class="d-flex my-4"></div>
  <v-container>
    <v-row>
      <v-col cols="4" class="d-flex">
        <v-text-field
          type="text"
          clearable
          placeholder="ค้นหา"
          v-model="keyword"
          variant="outlined"
          density="compact"
          style="gap: 1rem"
        >
        </v-text-field>
      </v-col>
      <v-col cols="4" class="d-flex"></v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-table max-width="auto" height="590">
          <thead class="theadtable1">
            <tr>
              <th class="text-center">พนักงาน</th>
              <!-- <th class="text-center">เวลาเข้างาน</th> -->
              <!-- <th class="text-center">เวลาออกงาน</th> -->
              <th class="text-center">ตำแหน่ง</th>
              <th class="text-center">ชั่วโมงทำงาน</th>
              <th class="text-center">เงินเดือน</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(item, index) of filterData" :key="index">
              <!-- <td>{{ i + 1 }}</td> -->
              <td class="text-center">
                {{ item.employee_firstname }} {{ item.employee_lastname }}
              </td>
              <td class="text-center">{{ item.employee_position }}</td>
              <td class="text-center">{{ item.total_hours }}</td>

              <td>
                <v-container>
                  <v-dialog
                    v-model="controlDialog"
                    transition="dialog-bottom-transition"
                    width="auto"
                  >
                    <template v-slot:activator="{ props }">
                      <v-btn
                        class="d-flex"
                        color="#FAD6A5"
                        v-bind="props"
                        @click="
                          check(
                            item.total_hours,
                            item.employee_id,
                            item.total_hours * 40
                          )
                        "
                        >คำนวน</v-btn
                      >
                    </template>
                    <v-card>
                      <v-toolbar
                        class="theadtable1"
                        color="#967667"
                        title="คำนวนรายได้"
                      ></v-toolbar>
                      <v-card-text>
                        <v-list>
                          <v-divider inset></v-divider>
                          <v-list-item title="ชั่วโมงงานทั้งหมด"></v-list-item>
                          <v-list-item
                            :title="'รวม: ' + hour + ' ชั่วโมง'"
                          ></v-list-item>

                          <v-divider inset></v-divider>

                          <v-list-item
                            :title="'รวมทั้งหมด: ' + hour * 40 + ' บาท'"
                          ></v-list-item>

                          <v-divider inset></v-divider>
                          <br />
                          <v-btn
                            @click="
                              pay(item.employee_id);
                              controlDialog = false;
                            "
                            class="theadtable1"
                            color="#967667"
                            cantet:ripple="false"
                            >จ่ายเงิน</v-btn
                          >
                        </v-list>
                      </v-card-text>
                    </v-card>
                  </v-dialog>
                </v-container>
              </td>
            </tr>
          </tbody>
        </v-table>
        <!-- </v-card> -->
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.text {
  color: gray;
}

.theadtable1 {
  color: white;
  background-color: #967667;
}
</style>
