<script setup lang="ts">
import { mdiDelete, mdiPencil, mdiPlus, mdiMagnify } from "@mdi/js";
import { useStockStore } from "@/stores/stock";
import type Stock from "@/types/Stock";
import StockDialog from "./StockDialog.vue";
import { onMounted, ref, computed } from "vue";

const stockStore = useStockStore();

const deleteMaterial = (index: number): void => {
  stockStore.deleteStock(index);
};

const addNewMat = () => {
  stockStore.dialog = true;
};

const editStock = (stock: Stock) => {
  stockStore.editStock(stock);
};

let keyword = ref("");
const filterData = computed(() => {
  const key = keyword.value ? keyword.value.toLocaleLowerCase() : "";
  return stockStore.stocks.filter(
    (e) =>
      e.matCode.toLocaleLowerCase().indexOf(key) != -1 ||
      e.name.toLocaleLowerCase().indexOf(key) != -1
  );
});
onMounted(async () => {
  await stockStore.getStocks();
});
</script>

<template>
  <div class="d-flex my-5"></div>
  <v-container>
    <v-row>
      <v-col cols="4" class="d-flex">
        <v-text-field
          clearable
          v-model="keyword"
          placeholder="ค้นหา"
          variant="outlined"
          density="compact"
          style="gap: 2rem"
        >
        </v-text-field>
      </v-col>
      <v-col cols="6" class="d-flex justify-end">
        <v-btn color="#fab7b7" :prepend-icon="mdiPlus" @click="addNewMat"
          >เพิ่ม</v-btn
        >
      </v-col>
    </v-row>
    <v-table>
      <thead class="HeadTable">
        <tr>
          <th class="text-left fontsWhite">ลำดับ</th>
          <th class="text-left fontsWhite">รหัสสินค้า</th>
          <th class="text-left fontsWhite">ชื่อสินค้า</th>
          <th class="text-left fontsWhite">จำนวนคงเหลือ</th>
          <th class="text-left fontsWhite">หน่วย</th>
          <th class="text-left fontsWhite"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of filterData" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.matCode }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.balance }}</td>
          <td>{{ item.unit }}</td>
          <td>
            <div class="d-flex my-4" style="gap: 1rem">
              <v-btn
                color="#ece6d3"
                :prepend-icon="mdiPencil"
                @click="editStock(item)"
                >แก้ไข</v-btn
              >
              <v-btn
                color="#d99189"
                :prepend-icon="mdiDelete"
                @click="deleteMaterial(item.id)"
                >ลบ</v-btn
              >
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
    <StockDialog></StockDialog>
  </v-container>
</template>

<style scoped>
.HeadTable {
  background-color: #967667;
}

.text {
  color: gray;
}
.fontsWhite {
  color: white;
}
</style>
