<script setup lang="ts">
import table from "@/services/table";
import { useTableStore } from "@/stores/table";
import type Table from "@/types/Table";
import type { getCurrentInstance } from "vue";
import { onMounted, ref } from "vue";
import CustomerNav from "@/components/menus/CustomerNav.vue";
let total = 0;
const tableStore = useTableStore();
onMounted(async () => {
  await useTableStore().getTables();
});
const changeStatus = (tables: Table) => {
  tableStore.switchStatus(tables);
};
// const sumStatus = (tables: Table) => {};
// onMounted(async () => {});
</script>
<template>
  <div class="d-flex" style="gap: 25rem">
    <h1 class="text my-5 mx-6 font" style="text-align: center">
      เลือกโต๊ะอาหาร
    </h1>
  </div>
  <v-container>
    <v-row>
      <v-col v-for="(item, id) of tableStore.tables" :key="id" cols="3">
        <v-card class="mx-auto rounded-xl" color="#EAE0DA">
          <v-card-item>
            <v-img
              class="rounded-xl"
              src="../../picture/table1.jpg"
              height="200px"
              cover
            ></v-img>
            <div class="text-center" style="color: black">
              <div class="text-h6 mb-1">{{ item.name }}</div>
              <div class="text-overline mb-1">
                จำนวนที่นั่ง: {{ item.amount }}
              </div>
              <v-btn
                @click="changeStatus(item)"
                :color="
                  item.status === 'ใช้งาน'
                    ? '#A9907E'
                    : 'white' && item.status === 'รอเก็บ'
                    ? '#ceaa6a'
                    : 'white'
                "
                >{{ item.status }}
              </v-btn>
            </div>
          </v-card-item>
        </v-card>
      </v-col>
    </v-row>
  </v-container>

  <!-- <v-row justify="center">
    <v-dialog v-model="tableStore.dialog" persistent width="250px">
      <v-card>
        จองโต๊ะ ({{ tableStore.currentStatus.name }})
        <v-card-text
          ><v-img
            class="rounded-xl"
            src="../../picture/QR.png"
            height="200px"
            cover
            @click="tableStore.saveStatus"
          ></v-img
        ></v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="tableStore.saveStatus"
          >
            ยืนยัน
          </v-btn>
          <v-btn
            color="error"
            variant="text"
            @click="tableStore.dialog = false"
          >
            ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row> -->
</template>
<style scoped>
.font {
  font-size: 30pt;
  font-weight: 900;
  color: rgb(147, 135, 135);
}
</style>
