<script setup lang="ts">
import { ref } from "vue";
import { useUsersStore } from "@/stores/users";
import type { VForm } from "vuetify/components";

const usersStore = useUsersStore();
const form = ref<VForm | null>(null);

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    usersStore.saveUsers();
  }
};

const clear = () => {
  usersStore.dialog = false;
  usersStore.clear();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="usersStore.dialog" persistent>
      <v-card class="mx-auto my-12" max-width="1000">
        <v-card-title>
          <span class="text-h5">Edit User</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Email*"
                    v-model="usersStore.editedUsers.email"
                    :rules="[
                      (v) => !!v || 'login จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 ||
                        'login จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                      (v) =>
                        /^(?=.*\d)(?=.*[!@#$%^&*])/.test(v) ||
                        'email ต้องมีตัวอักษร ตัวเลข และตัวอักษรพิเศษ',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Name"
                    v-model="usersStore.editedUsers.name"
                    :rules="[
                      (v) => !!v || 'Name จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 ||
                        'Name จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Password*"
                    v-model="usersStore.editedUsers.password"
                    type="password"
                    :rules="[
                      (v) => !!v || 'password จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 ||
                        'password ต้องมากกว่าหรือเท่ากับ 8 ตัวอักษร',
                      (v) =>
                        /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(
                          v
                        ) ||
                        'password ต้องมีตัวอักษรตัวเล็ก ตัวใหญ่ และตัวอักษรพิเศษ',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.table {
  color: white;
  background-color: #967667;
}
</style>
